<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ZEDLOG Port System</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
    <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
</head>

<body>
    <div class="thebody">

        <header>
            <a href="{% url 'urlindex' %}">
                <img id='logo' src="{% static 'img/zedlog.png' %}" alt="ZEDLOG Data Visualization">
            </a>
            <input type="checkbox" id="nav-toggle" class="nav-toggle" >
            <nav>
                <ul>
                    {% comment %} <li><a href="{% url 'urllogout' %}">Logout</a></li> {% endcomment %}
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'urlscheduleget' %}">Upload Schedule</a></li>
                    <li><a href="{% url 'urlcsvupload' %}">Upload Port</a></li>
                    <li><a href="{% url 'urlcsvdata' %}">View CSV</a></li>
                    <li><a href="{% url 'urlportfiles' %}">Port Files</a></li>
                    {% comment %} <li><a href="{% url 'urlgraph' %}">Dashboard</a></li> {% endcomment %}
                    <li><a href="{% url 'urlvsllist' %}">Trips</a></li>
                    {% comment %} <li><a href="{% url 'urlvsldash' trip=21 %}">Vessel</a></li> {% endcomment %}
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    <li class="userMenu"><a href="{% url 'logout' %}">Logout</a></li>
                    {% comment %} <span>{{ user }}</span> {% endcomment %}
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
            <label for="nav-toggle" class="nav-toggle-label">
                <span></span>
            </label>
        </header>

        <main>
            {% block main %}
            {% endblock %}
            <div class="push"></div>
        </main>
        <footer>
            <p><a href="http://rodster.website/">Rodster Development</a> &copy; 2020</p>
        </footer>
    </div>
</body>

</html>
