<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ZEDLOG System</title>
    {% load static %}    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
    <div class="thebody">

        <header>
            <a href="{% url 'urlindex' %}">
                <img id='logo' src="{% static 'img/zedlog.png' %}" alt="ZEDLOG Data Visualization">
            </a>
            <input type="checkbox" id="nav-toggle" class="nav-toggle" >
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'urllistschedule' %}">Calendar</a></li>
                    <li><a href="{% url 'urlscheduleget' %}">Schedule</a></li>
                    <li><a href="{% url 'urlcsvupload' %}">Upload Data</a></li>
                    <li><a href="{% url 'urlcsvdata' %}">View Data</a></li>
                    <li><a href="{% url 'urlportfiles' %}">Manage Files</a></li>
                    {% comment %} <li><a href="{% url 'urlgraph' %}">Dashboard</a></li> {% endcomment %}
                    <li><a href="{% url 'urlvsllist' %}">View Trips</a></li>
                    {% comment %} <li><a href="{% url 'urlvsldash' trip=21 %}">Vessel</a></li> {% endcomment %}
                    {% comment %} <li><a href="{% url 'admin:index' %}">Admin</a></li> {% endcomment %}
                    <li class="userMenu"><a href="{% url 'logout' %}">Logout</a></li>
                    {% comment %} <span>{{ user }}</span> {% endcomment %}
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
            <label for="nav-toggle" class="nav-toggle-label">
                <span></span>
            </label>
        </header>

        <main>
            {% block main %}
            {% endblock %}
            <div class="push"></div>
        </main>
        <footer>
            <p><a href="http://rodster.website/">Rodster Development</a> &copy; 2020</p>
        </footer>
    </div>
</body>

</html>
