{% extends 'valdata/base.html' %}

{% block main %}

<div id="portdata" class="wrapper">

    <h1>Container List</h1>

    {% if container %}
    <table class="table">
        <thead>
            <tr>
                <th>Booking</th>
                <th>Container</th>
                <th>POD</th>
                <th>Arrival</th>
                {% comment %} <th>Action</th> {% endcomment %}
            </tr>
        </thead>
        <tbody>

            {% for c in container %}
                <tr>
                    <td>{{ c.booking }}</td>
                    <td>{{ c.serial }}</td>
                    <td>{{ c.pod }}</td>
                    <td>{{ c.arrival }}</td>
                    {% comment %} <td><a class="deletebtn" href="{% url 'urldeletefile' file.id %}">delete</a></td> {% endcomment %}
                </tr>        
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
{% endblock %}
