{% extends 'valdata/base.html' %}

{% block main %}
<div id="csvdata" class="wrapper">

    <h1><i class="fas fa-database"></i>&emsp;Port Data Uploaded</h1>

    {% if csv %}

    <table class="table">
        <thead>
            <tr>
                <th>Vessel</th>
                <th>Container</th>
                <th>Type</th>
                <th>POD</th>
                <th>Booking</th>
                {% comment %} <th>Vessel</th> {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for container in csv %}
                <tr>
                    <td>{{ container.vessel }}</td>
                    <td>{{ container.serial }}</td>
                    <td>{{ container.tipo }}</td>
                    <td>{{ container.pod }}</td>
                    <td>{{ container.booking }}</td>
                    {% comment %} <td>{{ container.vessel.vslfull }}</td> {% endcomment %}
                </tr>        
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No data available to be displayed.</p>
    {% endif %}
    
</div>
{% endblock %}
