{% extends 'valdata/base.html' %}

{% block main %}

<div id="portdata" class="wrapper">

    <h1><i class="fas fa-folder-open"></i>&emsp;Port Data Files</h1>

    {% if pd %}
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>File Name</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for file in pd %}
                <tr>
                    <td>{{ file.uploaded_by }}</td>
                    <td>{{ file.filename }}</td>
                    <td>{{ file.date }}</td>
                    <td><a class="deletebtn" href="{% url 'urldeletefile' file.id %}">delete</a></td>
                </tr>        
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No data available to be displayed.</p>
    {% endif %}

</div>
{% endblock %}
