{% extends 'valdata/base.html' %}

{% block main %}

<div id="portdata" class="wrapper">

    {% if header %}
    <h1>{{ header }}</h1>
    {% else %}
    <h1>Container List</h1>
    {% endif %}

    {% if container %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Booking</th>
                <th>Container</th>
                <th>POD</th>
                <th>Arrival</th>
                {% comment %} <th>Action</th> {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% comment %} {% set count = 0 %} {% endcomment %}
            {% comment %} {{ counter = ( counter | default(0) ) + 1 }} {% endcomment %}
            {% for c in container %}
                {% if c.arrival != '- - -' %}
                <tr style="color: red;">
                {% else %}
                <tr>
                {% endif %}
                    <td>{{ c.pk }}</td>
                    <td>{{ c.booking }}</td>
                    <td>{{ c.serial }}</td>
                    <td>{{ c.pod }}</td>
                    <td>{{ c.arrival }}</td>
                    {% comment %} <td><a class="deletebtn" href="{% url 'urldeletefile' file.id %}">delete</a></td> {% endcomment %}
                </tr>        
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No data containers found under {{ choice }} criteria for version {{ ver }} of trip {{ trip }} of this vessel.</p> 

    {% endif %}

</div>
{% endblock %}
